.container {
  padding: 30px 18px;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.table {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid;
  border-collapse: collapse;
}
.table th, .table td {
  border: 1px solid #d3d7e9;
}
.table caption {
  font-size: 22px;
  font-weight: 700;
  font-family: cursive;
  margin-bottom: 12px;
}
.table th, .table td {
  padding: 8px;
}
.table thead {
  background-color: darkgray;
}
.table tfoot th {
  text-align: right;
}
.table tfoot td {
  text-align: center;
}
.table tbody .score {
  text-align: center;
}
.table tbody tr:nth-child(even) {
  background-color: #D6EEEE;
}
.table tbody tr:nth-child(odd) {
  background-color: white;
}
.table tfoot {
  background-color: darkgray;
}
.container a {
  margin: auto;
  width: fit-content;
  display: block;
  padding: 18px;
  text-decoration: underline;
}
